openapi: 3.2.0
info:
  title: Privy REST Users API
  description: Privy is a wallet and authentication platform for Web3 apps.
  version: '1.0'
  contact:
    name: Privy
    url: https://docs.privy.io/
  license:
    name: Privy Terms of Service
    url: https://www.privy.io/legal/terms-of-use
servers:
- url: https://api.privy.io/v1
  description: Production
security:
- appSecretAuth: []
tags:
- name: Users
  description: Manage users and their linked accounts.
paths:
  /users/{user_id}:
    get:
      tags:
      - Users
      summary: Get a user by ID
      description: Retrieves a Privy user object, including linked accounts, MFA methods, and metadata.
      operationId: getUser
      parameters:
      - $ref: '#/components/parameters/PrivyAppId'
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found.
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: integer
          description: Unix timestamp (seconds).
        linked_accounts:
          type: array
          items:
            type: object
            additionalProperties: true
        mfa_methods:
          type: array
          items:
            type: object
            additionalProperties: true
        custom_metadata:
          type: object
          additionalProperties: true
  parameters:
    PrivyAppId:
      name: privy-app-id
      in: header
      required: true
      schema:
        type: string
      description: Privy application ID. Required on every request.
  securitySchemes:
    appSecretAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth using your Privy app ID as the username and your app

        secret as the password. Must be sent alongside the privy-app-id header.

        '
